@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Importa as duas fontes utilizadas no site (Inter e Montserrat) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Variável de cores (para não ter que alterar em cada elemente se necessário) */
    --color-branquinho: #ffffff;
    --color-black: black;
    --color-back: #001220;
    --color-backDarker: #050D14;
    --color-blue0: #94DEF5;
    --color-blue1: #82D0E9;
    --color-blue2: #296EBF;
    --color-red: #A01616;
    --color-rosy: #B81164;
    --color-rosa: #AD10AD;

}

* {
    /* Remove margin e padding de todos os elementos do html */
    margin: 0;
    padding: 0;
}

body {
    /* Seleciona a cor de fundo do site, estilo de fonte principal e cor */
    background-color: var(--color-back);
    font-family: 'Inter', 'Monstserrat';
    color: var(--color-branquinho);
}

#header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1% 10%;
}

#buttons_header_main {
    z-index: 2;
    display: flex;
    gap: 1.5em;
    /* Atribui um espaçamento entre os elementos */
}

.btn_header {
    border: 1px solid var(--color-blue2);
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--color-branquinho);
    text-decoration: none;
    /* Remove a underline dos 'Links' */
    transition: 0.5s;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-branquinho);
    cursor: pointer;
    display: none;
}

.btn_header:hover {
    background-color: var(--color-branquinho);
    color: var(--color-blue2);
    border: 1px solid var(--color-branquinho);
}

#content_main {
    /* Div que engloba todo o conteúdo  */
    padding: 5% 20%;
    text-align: left;
    transition: 1s;
}

h2 {
    color: var(--color-blue1);
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 15px 0;
    text-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5)
}

h1 {
    color: var(--color-branquinho);
    font-size: 70px;
    text-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5)
}

h3 {
    color: var(--color-blue1);
    font-size: 70px;
    margin: 0 0 15px 0;
    text-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5)
}

#aboutME {
    margin: 0 0 15px 0;
}


#about_me_pt1 {
    max-width: 700px;
    margin: 0 0 15px 0;
}

#about_me_pt2 {
    max-width: 800px;
    margin: 0 0 60px 0;
}

.highlight_text {
    color: var(--color-blue1);
    font-weight: 700;
    transition: 1s;
}

.highlight_text:hover {
    border-bottom: 1px solid var(--color-blue1);
}

.buttons_tp1 {
    background-color: var(--color-blue2);
    color: var(--color-branquinho);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    box-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 10px 20px;
    transition: 0.5s;
    margin: 0 0 150px 0;
}

.buttons_tp1:hover {
    background-color: var(--color-branquinho);
    color: var(--color-blue2);
}

h4 {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 48px;
    color: var(--color-blue1);
    text-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5);
    margin: 0 0 30px 0;
}

h4::after {
    content: '';
    display: inline-block;
    width: 100%;
    margin-left: 20px;
    border-bottom: 1px solid var(--color-blue0);
}

.about_me_box {
    max-width: 700px;
}

.about_me_box .aboutMe {
    margin: 0 0 15px 0;
}

.bannersSobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin: 30px 0 30px 0;
}

.bannerBox {
    width: 280px;
    background-color: var(--color-branquinho);
    border-radius: 0 0 15px 15px;
}

.topColor {
    position: relative;
    top: 0;
    width: 280px;
    height: 14px;
}

#banner1 .topColor {
    background-color: var(--color-red);
}

#banner2 .topColor {
    background-color: var(--color-rosy);
}

#banner2 .bannerText {
    color: var(--color-rosy);
}

#banner3 .bannerText {
    color: var(--color-rosa);
}

#banner3 .topColor {
    background-color: var(--color-rosa);
}

.innerContainer {
    display: flex;
    margin: 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.bannerTitle {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 20px;
    text-align: center;
    text-transform: uppercase;
}

.bannerText {
    color: var(--color-red);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 5px 0;
    text-transform: uppercase;
}

#mainHabilidades {
    /* border-bottom: 1px solid var(--color-blue0); */
    padding: 0 0 50px 0;
}

#mainHabilidades .about_me_box {
    display: flex;
    flex-direction: column;
}

#table_main {
    display: flex;
    gap: 20px;
    margin: 10px 0 0 0;
}

.table_icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 500px;
    height: auto;
    gap: 30px;
}

.icon_box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 210px;

}

.icon_box img {
    width: 70px;
    height: 70px;
}

.icon-label {
    font-weight: 700;
    font-size: 20px;
}

#habilities_info span {
    font-size: 18px;
    font-weight: 700;
}

#banner4 .topColor {
    background-color: var(--color-red);
}

#banner5 .topColor {
    background-color: var(--color-rosy);
}

#banner6 .topColor {
    background-color: var(--color-rosa);
}

.siteMain {
    display: flex;
    justify-content: space-between;
}

h6 {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-size: 36px;
    color: var(--color-branquinho);
    text-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5);
    margin: 0 0 30px 0;
}

h6::after {
    content: '';
    display: inline-block;
    width: 100%;
    margin-left: 20px;
    border-bottom: 1px solid var(--color-blue0);
}

.siteBanner {
    }