@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Importa as duas fontes utilizadas no site (Inter e Montserrat) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Variável de cores (para não ter que alterar em cada elemente se necessário) */
    --color-branquinho: #ffffff;
    --color-back: #001220;
    --color-backDarker: #050D14;
    --color-blue0: #94DEF5;
    --color-blue1: #82D0E9;
    --color-blue2: #296EBF;
}

* {
    /* Remove margin e padding de todos os elementos do html */
    margin: 0;
    padding: 0;
}

body {
    /* Seleciona a cor de fundo do site, estilo de fonte principal e cor */
    background-color: var(--color-back);
    font-family: 'Inter';
    color: var(--color-branquinho);
}

#header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1% 10%;
}

#buttons_header_main {
    z-index: 2;
    display: flex;
    gap: 1.5em;
    /* Atribui um espaçamento entre os elementos */
}

.btn_header {
    border: 1px solid #296EBF;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--color-branquinho);
    text-decoration: none;
    /* Remove a underline dos 'Links' */
    transition: 1s;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-branquinho);
    cursor: pointer;
    display: none;
}

#content_main {
    /* Div que engloba todo o conteúdo  */
    padding: 5% 10%;
    text-align: left;
    transition: 1s;
}

h2 {
    color: var(--color-blue1);
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 20px 4px;
    text-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5)
}

h1 {
    color: var(--color-branquinho);
    font-size: 70px;
    text-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5)
}

h3 {
    color: var(--color-blue1);
    font-size: 70px;
    margin: 0 0 30px 4px;
    text-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5)
}

.aboutMe {
    margin: 0 0 10px 4px;
    /*letter-spacing: 1px;*/
}

#about_me_pt1 {
    max-width: 700px;
}

#about_me_pt2 {
    max-width: 800px;
    margin: 0 0 60px 4px;
}

.highlight_text {
    color: var(--color-blue1);
    font-weight: 700;
}

.buttons_tp1 {
    background-color: var(--color-blue2);
    color: var(--color-branquinho);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    box-shadow: -2px 6px 2px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 10px 20px;
    transition: 0.5s;
}

.buttons_tp1:hover {
    background-color: var(--color-branquinho);
    color: var(--color-blue2);
}