#header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1% 10%;
}

#buttons_header_main {
    z-index: 2;
    display: flex;
    gap: 1.5em;
    /* Atribui um espaçamento entre os elementos */
}

.btn_header {
    border: 1px solid var(--color-blue2);
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--color-branquinho);
    text-decoration: none;
    /* Remove a underline dos 'Links' */
    transition: 0.5s;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-branquinho);
    cursor: pointer;
    display: none;
}

.btn_header:hover {
    background-color: var(--color-branquinho);
    color: var(--color-blue2);
    border: 1px solid var(--color-branquinho);
}