/* Uso esse arquivo de CSS para manipular as tags media de forma separada */

@media screen and (max-width: 880px) {
    .btn_icon_header {
        display: block;
    }
    #buttons_header_main { /* Navigation Header */
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-backDarker);
        height: 100%;
        width: 35vh;
        padding: 1em;
        text-align: center;
        animation-duration: 0.5s;
        margin-left: -100vw;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}